---
layout: default
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
{% for post in posts %}
    <article>

        <h1>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h1>
        
        <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

        {%- if post.data.page.excerpt -%}
            <p>{{ post.data.page.excerpt }}</p>
        {%- endif -%}

        <a href="{{ post.url | url }}"
           aria-label="Read more on {{ post.data.title }}">Read more</a>

    </article>

    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
  Tooltip on right
</button>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
  Tooltip on bottom
</button>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
  Tooltip on left
</button>

{% endfor %}